.App {
  display: flex;
  background-color: black;
  height: 100vh;
  width: 100%;
  align-items: flex-start;
  padding-top: 40px;
  background-image: url('https://www.ppt-backgrounds.net/thumbs/book-old-papers-and-books----image-backgrounds.jpg');
  background-repeat: no-repeat;
  background-size: contain, cover;
  font-family: cursive;
}

h1 {
  font-size: 60px;
}


.todo {
  margin: 0 auto;
  height: 50vh;
  width: 90%;
}

h3 {
  font-weight: 900;
  text-decoration: underline;
}

header {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

.list {
  text-transform: uppercase;
  font-size: 25px;

}

form {
  display: flex;
  justify-content: center;
  margin-right: 50%;
  background-color: transparent;
}

.task {
  background-color: transparent;
  font-family: cursive;
  border-color: rgba(53, 42, 42, 0.253);
}

.clear-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 22%;

}